<div class="pagecontent">
  <div fxLayout="column" fxLayoutAlign="center">

    <mat-card>
      <mat-card-title>Senaste lag</mat-card-title>

      <mat-card-content>

        <div class="push-down-more" *ngIf="(team$ | async) as team">

          <ng-container *ngIf="team.name">

            <h1 class="center-text artsy">{{ team.name }}</h1>
            <div class="team-quote center-text">"{{ team.sound?.quote }}"</div>
            <div class="team-icons push-down" fxLayout fxLayoutAlign="space-around">
              <span *ngFor="let member of (team.members || [])">{{ member }}</span>
            </div>

          </ng-container>

          <div *ngIf="!team.name">
            Inget lag har hunnit svara än!
          </div>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button color="warn" [disabled]="!room" mat-raised-button (click)="deleteRoom()">
        RADERA QUIZ
      </button> -->
        <div class="error nudge-down center-text">Quizet raderas automatisk efter 24 timmars inaktivitet</div>
      </mat-card-actions>
    </mat-card>

    <button class="push-down" mat-button [routerLink]="['/room', roomId]">Gå tillbaka</button>
  </div>
</div>