<div class="fullheight pagecontent" fxLayout fxLayoutAlign="center">
  <mat-card>
    <mat-card-title>Senaste lag</mat-card-title>

    <mat-card-content>

      <div class="push-down-more" *ngIf="(team$ | async) as team">

        <ng-container *ngIf="team.name">

          <h1 class="artsy" class="center-text">{{ team.name }}</h1>
          <em class="center-text">"{{ team.sound?.quote }}"</em>

        </ng-container>

        <div *ngIf="!team.name">
          Inget lag har hunnit svara än!
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button color="warn" [disabled]="!room" mat-raised-button (click)="deleteRoom()">
        RADERA QUIZ
      </button>
      <div class="error nudge-down">Quizet raderas automatisk efter en viss tid</div>
    </mat-card-actions>
  </mat-card>
</div>