<div *ngIf="room$ | async"></div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab *ngFor="let t of teams$ | async" [label]="t.name">
    <app-team [team]="t" [disableButton]="disableButton"></app-team>
  </mat-tab>
  <mat-tab *ngIf="teamCount > 0" label="Quizmaster" #quizMasterTab>
    <app-host [listen]="quizMasterTab.active" [room]="room" [roomId]="roomId"></app-host>
  </mat-tab>
</mat-tab-group>
<div *ngIf="teamCount === 0" class="pagecontent">
  <mat-card>
    <mat-card-title>Inga lag, inget quiz!</mat-card-title>
    <div>Du kanske kan <b class="pointer" (click)="createTeam()">skapa</b> det första?</div>
  </mat-card>
</div>
<div class="fab-section" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign=" center">
  <button mat-fab (click)="createTeam()">
    <mat-icon>add</mat-icon>
  </button>
</div>