    .fab-section {
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
    .team-icons {
        font-size: 2rem;
        line-height: 3rem;
    }

    .team-card {
        margin-bottom: 25px;
    }