<div [formGroup]="form">
  <div class="warn-background dialog-title-background">
    <div mat-dialog-title class="light-text">RADERA QUIZRUM</div>
  </div>
  <div mat-dialog-content>

    <div class="push-up push-down">
      <em>
        Skriv in lösenordet för att radera.
      </em>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Lösenord</mat-label>
      <input type="text" matInput formControlName="password">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>STÄNG</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true"
      [disabled]="form.invalid || form.value.password !== room.password">RADERA</button>
  </div>
</div>