/* You can add global styles to this file, and also import other style files */

@import 'assets/css/variables';
@import 'assets/css/_quizfeeling_theme.scss';
@import 'assets/css/material_theme.scss';
@import 'node_modules/ng-papilion/css/pap-styles.scss';
html {
    height: calc(100% - 64px); // 64px is the height of the mat-toolbar
}

body,
app-root {
    height: 100%;
}

body {
    margin: 0;
}

.pagecontent {
    display: flex;
    justify-content: center;
    padding: 30px 30px 40px 40px;
    >* {
        overflow: auto;
        min-width: 350px;
        min-height: 300px;
    }
}

.mat-card-title {
    min-height: 28px;
    margin-top: 14px !important;
    font-size: 1.5em;
}

.team-icons {
    font-size: 3rem;
    line-height: 4rem;
}

/* DIALOGS
   ========================================================================== */

.mat-card-actions {
    justify-content: flex-end;
}

.dialog-title-background {
    margin: -24px -24px 0 -24px;
    padding: 12px 24px 8px 24px;
    .mat-dialog-title {
        margin-bottom: 0;
    }
}

/* 7. FORMS
        ========================================================================== */

.mat-form-field {
    width: 100%;
    max-width: 300px;
    font-size: 1.1rem;
}

.mini-input {
    width: 40px;
    .mat-form-field {
        width: 40px;
    }
}

.xsmall-input {
    width: 50px;
    .mat-form-field {
        width: 50px;
    }
}

.small-input {
    width: 120px;
    .mat-form-field {
        width: 120px;
    }
}

.medium-input {
    width: 200px;
    .mat-form-field {
        width: 200px;
    }
}

.large-input {
    width: 340px;
    .mat-form-field {
        width: 340px;
    }
}

.xlarge-input {
    width: 420px;
    .mat-form-field {
        width: 420px;
    }
}

.fullWidth-input {
    width: 100%;
    .mat-form-field {
        width: 100%;
    }
}